h1,h2,h3,h4,h5
{
	color:#000;
}
.sp-dropdown-sub
{
	display:none !important;
}
a {
  color: rgba(190, 15, 46, 1);
}
a:hover {
  color: #5c0d24;
}
.sp-megamenu-parent >li.active>a,
.sp-megamenu-parent >li:hover>a {
  color: #BE0F2E;
  text-decoration:none;
}
.sp-megamenu-parent .sp-dropdown li.sp-menu-item >a:hover {
  background: #BE0F2E;
}
.sp-megamenu-parent .sp-dropdown li.sp-menu-item.active>a {
  color: #BE0F2E;
}
#offcanvas-toggler >i {
  color: #000000;
}
#offcanvas-toggler >i:hover {
  color: #BE0F2E;
}
.btn-primary,
.sppb-btn-primary {
  border-color: #6d102b;
  background-color: #BE0F2E;
}
.btn-primary:hover,
.sppb-btn-primary:hover {
  border-color: #957739;
  background-color: #BE9D56;
}
ul.social-icons >li a:hover {
  color: #BE0F2E;
}
.sp-page-title {
  background: #BE0F2E;
}
.layout-boxed .body-innerwrapper {
  background: #ffffff;
}
.sp-module ul >li >a {
  color: #000000;
}
.sp-module ul >li >a:hover {
  color: #BE0F2E;
}
.sp-module .latestnews >div >a {
  color: #000000;
}
.sp-module .latestnews >div >a:hover {
  color: #BE0F2E;
}
.sp-module .tagscloud .tag-name:hover {
  background: #BE0F2E;
}
.sp-simpleportfolio .sp-simpleportfolio-filter > ul > li.active > a,
.sp-simpleportfolio .sp-simpleportfolio-filter > ul > li > a:hover {
  background: #BE0F2E;
}
.search .btn-toolbar button {
  background: #BE0F2E;
}
.post-format {
  background: #BE0F2E;
}
.voting-symbol span.star.active:before {
  color: #BE0F2E;
}
.sp-rating span.star:hover:before,
.sp-rating span.star:hover ~ span.star:before {
  color: #5c0d24;
}
.entry-link,
.entry-quote {
  background: #BE0F2E;
}
blockquote {
  border-color: #BE0F2E;
}
.carousel-left:hover,
.carousel-right:hover {
  background: #BE0F2E;
}
#sp-footer {
  /*background: #BE0F2E;*/
  background-color: #1E1E1E;

}
.sp-comingsoon body {
  background-color: #BE0F2E;
}
.pagination>li>a,
.pagination>li>span {
  color: #000000;
}
.pagination>li>a:hover,
.pagination>li>a:focus,
.pagination>li>span:hover,
.pagination>li>span:focus {
  color: #000000;
}
.pagination>.active>a,
.pagination>.active>span {
  border-color: #BE0F2E;
  background-color: #BE0F2E;
}
.pagination>.active>a:hover,
.pagination>.active>a:focus,
.pagination>.active>span:hover,
.pagination>.active>span:focus {
  border-color: #BE0F2E;
  background-color: #BE0F2E;
}
