@CHARSET "ISO-8859-1";

.sp-contact-phone a, .sp-contact-email a
{
	color:#999;
}
.sppb-carousel-caption
{
	margin:0 auto;
}
.sppb-carousel-pro-text h2
{
    color: #ffffff;
    font-size: 62px;
    line-height: 62px;
    margin-bottom: 20px;
    font-family: Open Sans,sans-serif;
    font-weight: 800;
    text-transform:uppercase;
    text-shadow: 0px 0px 5px #000;    
}
.sppb-carousel-pro-text div
{
	color:#fff;
	font-size:36px;
	line-height:52px;
/*    text-transform:uppercase;	*/
    text-shadow: 1px 1px 4px #000;    
}
.secretaria-banner
{
	box-shadow:0px 0px 40px #222 inset;
}
.category-module li
{
	padding:6px 6px !important;
}
div.noticia-icon i {
  border: 1px solid #ccc;
  border-radius:3px;
  float: left;
  font-size: 25px;
  font-weight: 700;
  height:40px;
  width:40px;
  line-height:38px;
  text-align:center;
  color:#000;
  margin-top: 7px;
  padding: 0 12px 2px;
 
}

.mod-articles-category-date
{
	color:#000;
	font-size:15px;	
}
.mod-articles-category-title 
{
	font-size:18px;	
}	
.sppb-addon-container .titulo
{text-align:center}
span.nr
{
	font-size: 32px;
	line-height:32px;
}
div.modbpcounter
{
	text-align:center;
	padding: 15px 0px;
	
	
}
div.modbpcounter span.label
{
	font-size:16px;
	white-space: pre;
	margin:0;
	padding:0;

}


.sppb-icon-container:hover, .sppb-addon-content > a:hover
{
	color:#9D2235 !important;
	transition: color 200ms ease 0s, background-color 200ms ease 0s;
}
.sp-module ul > li.active > a::before
{
	content: "\f104";
	font-weight:bold;
}
.sp-module ul > li.active > a
{
	color: #9D2235;
}

.sppb-btn-default
{
	background-color:#9D2235;
	color:#fff;
}
.secretaria-alt .sppb-cta-title, .secretaria-alt .sp-copyright
{
	text-shadow: 0px 0px 5px #000;
}
.sppb-addon .sp-copyright
{
	font-size:18px;
	/*color:#444;*/
}
.accordion-heading h5
{   font-size:18px;
	line-height:18px;
	font-weight:normal;
}
#sp-page-builder .sppb-section-title
{
	margin-bottom: 40px;
}
.sppb-addon-title
{
	color:#000;
}
.titulo-calendario,.titulo-noticias
{
	margin-top:10px;
	text-align:center;
}
.modulo-eventos p
{
	margin:0px;
	color:#000;
}
.boton-noticias,.boton-eventos
{
	margin:20px;
}
.col-icono {
    text-align: center;
    padding:20px;
    width:120px;
    float:left;
}
.col-icono a,.col-icono h3
{
	color:#333;
}
.col-icono i
{
	font-size:52px;
}

.icons
{
	/*display:none;*/
}
.moduletablemod_login_noboton
{
	font-size:22px;
	font-style:italic;
	text-align:center;
	margin:25px;
}
.sppb-btn-default:hover, .sppb-btn-default:focus, .sppb-btn-default:active, .sppb-btn-default.active, .open > .dropdown-toggle.sppb-btn-default
{
   color: #fff !important;
   background-color: #BE9D56 !important;
}
.sppb-carousel-text
{
	color:white !important;
	text-shadow:2px 2px #333;

}
.sppb-carousel-text h2
{
	color:white !important;
	font-size:42px;
}
.sppb-carousel-text div
{
	font-size:22px;
		margin-bottom:15px;
}
.sppb-carousel-arrow i.fa
{
	font-size:65px !important;
}
.sp-page-title h2 {
    font-size: 36px !important;
    line-height: 1;
    text-shadow:1px 1px #222;
}
.breadcrumb
{
	font-size:20px !important;
	margin-top:20px !important;
	text-shadow: 1px 1px #222;
}
.sp-page-title
{
	padding:100px 0px !important;
}
.panel-heading
{
	padding: 5px 15px !important;
	color:#444 !important;
}
.accordion-heading h4 a
{
	font-size:15px !important;
	line-height:21px !important;
}
article h2
{
	/*color:#9D2235;*/
	color:#111;
	font-size:26px !important;
}
article h3
{
	/*color:#9D2235;*/
	color: #9D2235;
	font-size:23px !important;
}
article h4
{
	/*color:#9D2235;*/
	color:#333;
	font-size:20px !important;
}
article h5
{
	/*color:#9D2235;*/
	color: #333;
	font-size:18px !important;
}
ul.indice li
{
	font-size: 20px;
	list-style-type:square;
	line-height:34px;
}
articleBody li
{
	margin:10px 0px;
}
